:root {
   --sans: 'space grotesk', sans-serif;
   --mono: 'neodgm', monospace;
   --bg: thistle;
   --text: #2c3e50;
   --text-alt: #c2e0e0;
   --accent: #2c3e50;
   --border: #112236;
   --accent-shade: #52657785;
   --accent-shade-dark: #11223685;
}