@font-face {
   font-family: 'cozette';
   src: url('/fonts/CozetteVector.ttf') format('truetype');
   font-weight: normal;
   font-display: block;
}

@font-face {
   font-family: 'neodgm';
   src: url('/fonts/neodgm.woff') format('woff'),
        url('/fonts/neodgm.woff2') format('woff2');
   font-weight: normal;
   font-display: block;
}

@font-face {
   font-family: 'neodgm code';
   src: url('/fonts/neodgm_code.woff') format('woff'),
        url('/fonts/neodgm_code.woff2') format('woff2');
   font-weight: normal;
   font-display: block;
}

@font-face {
   font-family: 'space grotesk';
   src: url('/fonts/SpaceGrotesk-Regular.woff2') format('woff2');
   font-weight: normal;
 }
 
 @font-face {
   font-family: 'space grotesk';
   src: url('/fonts/SpaceGrotesk-Bold.woff2') format('woff2');
   font-weight: bold;
 }