@import url(fonts.css);
@import url(colors.css);

body {
  font-family: var(--mono);
  background-color: var(--bg);
  font-size: 16px;
  font-size: 1rem;
  color: var(--text);
  box-sizing: border-box;
}

/* TODO: use an eye catching color */
strong, b {
  font-weight: normal;
  color: var(--accent);
}

code, pre, kbd {
  font-family: var(--mono);
  background-color: var(--accent);
  color: var(--bg);
  padding: 2px 5px;
  border-radius: 3px;
}

tw-story {
  display: block;
  margin: 2em auto;
  max-width: 70em;
}

.passage {
  display: block;
  position: relative;
  border: 3px solid var(--accent);
  border-radius: 10px;
  box-shadow: 5px 5px 0 var(--accent-shade);
  font-size: 2em;
  line-height: 1.25;
  padding: 1em 2em;
  margin: 100px 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.passage a.link-internal {
  display: block;
  max-width: 92.5%;
  margin: 1em auto;
  padding: 0.5em 1em;
  background-color: var(--accent);
  font-family: var(--sans);
  color: var(--text-alt);
  text-align: center;
  text-decoration: none;
  border: 3px solid var(--border);
  border-radius: 10px;
  box-shadow: 5px 5px 0 var(--accent-shade);
}

.passage a.link-internal:active {
  box-shadow: inset 5px 5px 0 var(--accent-shade-dark);
}